h1 {
  color: #a0522d;
  text-align: center;
  font-weight: bold;
}

h2 {
  text-align: center;
}

p {
  font-size: 15px;
  color: #006400;
  font-family: fantasy;

}
ul {
  list-style-type: square;
  list-style-position: inside;
}
